a {
    text-decoration: none;
    color: #eee;
  }
  
  nav {
    display: flex;
    position: relative;
    justify-content: flex-end;
    background-color: #303841;
    border-color: #5bbf79;
    border-bottom: 2px;
    width: 100%;
  }
  
  .nav-link {
    padding: 10px;
  }

  .nav-link:hover {
    right: 10px;
    color: #5bbf79;
  }

  .nav-home {
    margin-right: auto;
    font-family: sans-serif;
  }

