

nav {
  display: flex;
  position: relative;
  justify-content: flex-end;
  background-color: var(--background-gray);
  border-color: var(--green);
  border-bottom: 2px;
  width: 100%;
}

.nav-link {
  padding: 10px;
  text-decoration: none;
  color: var(--white);
  font-family: sans-serif;
}

.nav-link:hover {
  right: 10px;
  color: var(--green);
}

.nav-home {
  margin-right: auto;
  font-family: sans-serif;
}

