<section id="github-projects">
    <a href="https://github.com/Thegajout" class="title-link">
        <h2>Github hosted projects</h2>
    </a>
    <hr>
    <h3 *ngIf="error.message.length > 0" class="error">{{error.message}}</h3>
    <div class="project-list">
        <a *ngFor="let project of projects$.slice(0,this.view)" [href]="project.html_url" class="project">
            <h3>{{ project.name }}</h3>
            <p>{{ project.description }}</p>
            <p>Last updated: {{ project.pushed_at | date}}</p>
        </a>
    </div>
    <div class="center">
        <button class="square-button" (click)="handleClick()">{{(this.view < projects$.length) ? 'View more projects!'
                : 'View less projects...' }}</button>
    </div>
</section>