<section id="github-projects">
  <a href="https://github.com/gllmjln" class="title-link">
    <h2>Github hosted projects</h2>
  </a>
  <hr />
  <div *ngIf="!view" class="center">
    <a class="square-button" routerLink="/projects">Back to projects...</a>
  </div>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <ng-container *ngIf="errors.length">
    <h3 *ngFor="let error of errors" class="error">{{ error }}</h3>
  </ng-container>
  <div *ngIf="repos" class="project-list">
    <a *ngFor="let project of repos.slice(0, view)" [href]="project.html_url" class="project">
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>
      <p>Last updated: {{ project.pushed_at | date }}</p>
      <p *ngIf="project.commits">
        Total commits in the last year: {{ project.commits }}
      </p>
    </a>
  </div>
  <div *ngIf="view" class="center">
    <a *ngIf="view === repos?.length" class="square-button" routerLink="/projects/github">View all</a>
    <button class="square-button" (click)="handleClick()" *ngIf="repos?.length">
      {{
      view < (repos?.length ?? 0) ? "View more projects!" : "View less projects..." }} </button>
  </div>
</section>