/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroud-gray);
}

:root {
    --blue: #5bbfab;
    --light-gray: #3f525c;
    --green: #5bbf79;
    --backgroud-gray: #303841;
    --orange: #bf8a59;
    --dark-gray: #242930;
    --white: #fff;
    --black: #000;
    --purple: #9753cc;
}
